@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/KaushanScript-Regular.otf');
}
html {
    background-image: url("../images/Dubai-City-Lights.jpg"); /*try to make the background parallax*/
    background-size: cover;
    overflow: hidden;
    
}
h1 {
    font-family: 'Kaushan';
    color: Teal;
    text-align: center;
    font-size: 5em;
    
}
h2 {
    color: white;
    text-align: center;
    
}
h3 {
    font-family: 'Kaushan';
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
#start {
    font-family: 'Kaushan';
    font-size: 1em;
    background: teal;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 1em;
    position:relative;
    top:50%; 
    left:44%;
    display: inline-block;
    transition-duration: 3s;
    
}
#start:hover {
    background: red;
}
footer {
    color: white;
}
#Player1 {
    background-color: blue;
    font-size: 3em;
    float: left;
}
#Player2 {
    background-color: red;
    font-size: 3em;
    float: right;
}
.squares {
    font-size: 2em;
    font-family: "Kaushan";
    background-color: teal;
    display: inline-block;
    padding: 1em;
    border: 2px solid white;
}
section {
    top: 90%;
    position: absolute;
    padding-left: 28em;
    padding-right: 10em;
    margin-bottom: 8em;
    /*padding-left: 40%;*/
}
#gameBoard {
    text-align: center;
}
/*#start {*/
    
/*}*/